[Unit]
Description=Logstash
BindTo=network.target
Requires=elasticsearch.service

[Install]
WantedBy=multi-user.target

[Service]
User=logstash
Group=logstash
Type=simple
ExecStart=/opt/logstash/run_logstash.sh

