[Unit]
Description=Mongodb
BindTo=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=mongo
Group=mongo
Type=simple
PIDFile=/var/run/mongod.pid
ExecStart=/usr/bin/mongod --cpu --pidfilepath /var/run/mongod.pid
ExecStop=/usr/bin/mongod --shutdown
Restart=on-failure

