# This file should be placed in a /etc/systemd/system/network.target.requires directory
# TODO: there's probably a way to handle this in the Install section

[Unit]
Description=%I network script
Before=network.target
After=syslog.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ifup %i
ExecStop=/sbin/ifdown %i
