[Unit]
Description=Nginx Web server
BindTo=network.target
Requires=nagios-php-fcgi.service perl-fcgi.service

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
PIDFile=/var/run/nginx.pid
ExecStart=/usr/sbin/nginx
ExecStop=/usr/sbin/nginx -s stop
ExecReload=/usr/sbin/nginx -s reload
Restart=on-failure

