[Unit]
Description=Openssh Server
BindTo=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/sshd -D

